/* 首页顶部设置 */
.hptop{
	width: 100%;	/* 设置宽度 */
	height: 300px;	/* 设置高度 */
	background-color: rgb(57,86,146);	/* 设置背景颜色 */
	padding-top: 1px;
}

/* 清除默认样式 */
*{
	margin: 0;
	padding: 0;
}

/* 设置ul */
.navigation{
	list-style: none;  /* 去除项目符号 */
	/* width: 25%; */  	/*设置导航条宽度*/
	/* margin: 0 ;
	padding: 10px;
	overflow: hidden; */
}

/* 设置li浮动 */
.navigation li{
	float: right;
	/* width: 33%; */
}

/* 设置链接 */
.navigation a{
	display: block;	/* 将a转换为块元素 */
	width: 50%;
	text-align: center;	/*链接字体在每一块中居中*/
	padding: 30px;
	text-decoration: none;	/*去除链接下划线*/
	color: white;	/*设置字体颜色*/
	font-weight: bold;	/*设置字体加粗*/
}

/*设置鼠标移入效果*/
.navigation a:hover{
	color: rgb(215,221,233);
}

/*设置主页标题*/
.title{
	color: white;
	font-size: 30px;
	margin: 150px 45% 150px;
		
}

.birth{
	list-style: none;  /* 去除项目符号 */
}

.birth a{
	display: block;	/* 将a转换为块元素 */
	text-align: center;	/*链接字体在每一块中居中*/
	padding: 10px;
	text-decoration: none;	/*去除链接下划线*/
	color: hotpink;	/*设置字体颜色*/
	font-weight: bold;	/*设置字体加粗*/
	font-size: 30px;
}

/* *{margin: 0;padding: 0;box-sizing: border-box;font-family: 'open sans',sans-serif;} */

/* body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: #060a1f;
} */
#clock h2{
    position: relative;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.8em;
}
#clock #time{
    display: flex;
}
#clock #time div{
    position: relative;
    margin: 0 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);

}
#clock #time div span{position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #2196f3;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: 10;
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.5);
}
#clock #time div span:nth-child(2){
    height: 39px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    background: #127fd6;
    text-transform: uppercase;
    
}
#clock #time div:last-child span{
    background-color: #ff006a;
}
#clock #time div:last-child span:nth-child(2){
    background-color: #ec0062;
}
